<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="social-wrapper">
        <ul>
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
    </div>
<nav class="footer-nav" role="navigation">
<p>Copyright &copy; 2021- All rights reserved.</p>
</nav>
</footer>
