<div id="d1">
    <h1 id="t1">Contacto</h1>
    <p id="prr1">Conoce los lugares que en la actualidad se están impartiendo prácticas,
    ​   si no está tu provincia o sector inscríbete para aperturar un grupo en tu comunidad.</p>



    <h3 id="t3">PARA MÁS DETALLES</h3>

    <h4 id="t4">LUGARES DE PRÁCTICAS</h4>
</div>
<div class="row" style="width: 100%; text-align: center;">
    <div class="column" style="width: 49%;">
        <dl>
            <dt>EN EL CIBAO</dt>
                <dd>+1 (829) 362-4810</dd>
                <dd>VILLA GONZALEZ</dd>
                <dd>NAVARRETE</dd>
                <dd>ALTAMIRA</dd>
                <dd>LA ISABELA</dd>
                <dd>VILLA ELIZA</dd>
                <dd>AGUA PALMA</dd>
                <dd>PUNTA RUSIA</dd>
                <dt>BONAO</dt>
                <dd>+1 (809) 867-5848</dd>
                <dt>LA ROMANA</dt>
                <dd>+1 (809) 429-1855</dd>
        </dl>
    </div>
    <div class="column" style="width: 49%; text-align: center;">
        <dl>
            <dt>HIGUEY</dt>
                <dd>+1 (829) 574-2713</dd>
            <dt>SANTO DOMINGO OESTE</dt>
                <dd>+1 (809) 839-1378</dd>
            <dt>SANTO DOMINGO NORTE</dt>
                <dd>+1 (829) 613-0858</dd>
            <dt>SANTO DOMINGO ESTE</dt>
                <dd>+1 (829) 726-2382</dd>
            <dt>YAMASÁ</dt>
                <dd>+1 (829) 340-6860</dd>
        </dl>
    </div>
</div>
<div class="container" style=" text-align: center;">
    <div id="t2">
        <h1>
            SÍGUENOS EN LAS REDES
        </h1>
    </div>
</div>
<div class="row" style="width: 100%; text-align: center;">
    <div class="col">
        <img src="/assets/Facebook.png" alt="Picture" style="width:auto;max-width:100%" /> <br>

        <img src="/assets/Instagram.png" alt="Picture" style="width:auto;max-width:100%" /> <br>

        <img src="/assets/Youtube.png" alt="Picture" style="width:auto;max-width:100%" /> <br>

        <img src="/assets/Twitter.png" alt="Picture" style="width:auto;max-width:100%" /> <br>
    </div>
    <div class="col">
        <div class="redes">
        <h2>
            facebook
        </h2>
        <h4>
            <a href="">mujeres al volante rd</a>
        </h4>
        </div>
        <div class="redes">
            <h2>
                instagram
            </h2>
            <h4>
                <a href="">@mujeresalvolanterd</a>
            </h4>
        </div>
        <div class="redes">
            <h2>
                youtube
            </h2>
            <h4>
                <a href="">mujeres al volante rd</a>
            </h4>
        </div>
        <div class="redes">
        <h2>
            twitter
        </h2>
        <h4>
            <a href="">diazgm86@gmail.com</a>
        </h4>
        </div>
    </div>
</div>
