<div class="cont2">
    <h1>Aula Virtual</h1>
    <h3>CLASES TEÓRICAS VIRTUALES</h3>
    <h3>APRENDE A CONDUCIR</h3>
    <h5>Esta sección contará con módulos de aprendizaje con vídeos instructivos y 2 clases virtuales 
        para finalizar tu aprendizaje e iniciar tus prácticas. No olvides la importancia de aprender 
        los conceptos presentados en los vídeos para así poder trabajar con las prácticas.

        Una vez finalices el estudio de los vídeos debes practicar los diferentes exámenes con el 
        simulador del INTRANT, y así estarás lista para aprobar el examen teórico del INTRANT y 
        obtener tu carnet de aprendizaje sin dificultad.

        Solo debes ingresar tu cédula, seleccionar entrar, completar tus datos, registrarte y luego
        elegir tomar prueba donde dice Simulador para examen teórico.
    </h5>
    <div id="intrant1" class="container">
        <a href="https://ov.intrant.gob.do/#/login"><img src="/assets/intrant.png" alt="intrant" width="120px" height="60px"></a>
    </div>
    <div id="intrant2" class="container">
        <p>
            Pulsa este botón para acceder directamente al simulador
        </p>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 1: CÓMO OBTENER PERMISO O CARNET DE APRENDIZAJE
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/BHbcDoxo5gE" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 2: FUNCIÓN, MANTENIMIENTO Y LUCES DEL VEHÍCULO
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/Jv403ccaECg" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 3: SISTEMAS DE SEGURIDAD- SEGURIDAD ACTIVA Y PASIVA
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/uInih6eEb6Y" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 4: ¿CÓMO CONTROLAR EL ACELERADOR?
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/IdHEgFJ0Dfc" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 5: DOCUMENTOS Y LÍMITES DE VELOCIDAD AL CONDUCIR
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/HOHtd5nOpMc" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 6: USO DE CINTURÓN Y CONSEJOS PARA MANEJAR A LA DEFENSIVA
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/hewpYclkhbw" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 7: LOS FRENOS ABS Y EL SISTEMA EPS
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/1OPZLo9D808" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 8: SEGURIDAD ACTIVA AL CONDUCIR
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/-NyKElpAEtA" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 9: SEGURIDAD PASIVA AL CONDUCIR
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/r_jgy5SOLUQ" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 10: FUNCIÓN DE LAS GOMAS O NEUMÁTICOS
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/KDHoVbK5l8o" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 11: CÓMO OBTENER EL CARNET DE APRENDIZAJE PARA CONDUCIR
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/ON1qH31T3jQ" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 12: LUCES DEL VEHÍCULO Y SUS FUNCIONES
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/79x232wH3aE" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 13: EL SISTEMA ELÉCTRICO DE UN VEHÍCULO
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/uVbQNieyoDQ" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 14: CINTURÓN DE SEGURIDAD
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/7ePwqb_DWtM" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 15: MANEJO A LA DEFENSIVA
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/iJ57_jBWGnE" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 16: CURVAS AL CONDUCIR
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/hunWOzRs50M" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 17: SITUACIONES CLIMÁTICAS AL CONDUCIR
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/SkqcpXALmMM" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 18: TIPS Y MANIOBRAS PARA CONDUCIR
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/_KK0Uw9sNxc" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 19: LÍMITES DE VELOCIDAD AL CONDUCIR
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/oushiyxS2MI" target="blank"> ir al video </a>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-12 col-md-8">
            <p>
                MÓDULO 20: VÍAS Y SEÑALES DE TRÁNSITO SEGÚN UBICACIÓN
            </p>
        </div>
        <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/cb_eKHexbwE" target="blank"> ir al video </a>
        </div>
    </div>
</div>




