<div style="background-color: darkorchid; color: aliceblue; width: 100%;">
    <h1>Aula Virtual</h1>
    <h3>CLASES TEÓRICAS VIRTUALES</h3>
    <h3>APRENDE A CONDUCIR</h3>
    <p>Esta sección contará con módulos de aprendizaje con vídeos instructivos y 2 clases virtuales 
        para finalizar tu aprendizaje e iniciar tus prácticas. No olvides la importancia de aprender 
        los conceptos presentados en los vídeos para así poder trabajar con las prácticas.

        Una vez finalices el estudio de los vídeos debes practicar los diferentes exámenes con el 
        simulador del INTRANT, y así estarás lista para aprobar el examen teórico del INTRANT y 
        obtener tu carnet de aprendizaje sin dificultad.

        Solo debes ingresar tu cédula, seleccionar entrar, completar tus datos, registrarte y luego
        elegir tomar prueba donde dice Simulador para examen teórico.
    </p>
</div>
<div class="container">
    
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>



