
<div class="container">
    <app-slider></app-slider>
</div>

<div class="contenedor">
    <div class="row">
        <div class="col">
            <img class="imghome" src="/assets/educacionvial.png" alt="imagen de mujer conduciendo">
            <h3>
                Educación Vial
            </h3>
            <p class="">
                Conjunto de conocimientos, reglas y normas de comportamiento que toda persona
                debe poseer a la hora de transitar en la vía como peatón o como conductor de
                bicicletas, ciclomotores o automóviles, con el objetivo de prevenir accidentes.
            </p>
        </div>
        <div class="col">
            <img class="imghome" src="/assets/clases.jpg" alt="imagen de mujer conduciendo">
            <h3>
                Clases de Conducir
            </h3>
            <p class="">
                Preparación teórica y práctica para aprender a conducir, un proceso de
                acompañamiento compartido con instructores respetuosos y pacientes que evalúan
                cada proceso de aprendizaje como alumna de manera que adquieras habilidades y
                potencies tus conocimientos hasta lograr la seguridad al volante.
            </p>
        </div>
        <div class="col">
            <img class="imghome" src="/assets/contenido.jpeg" alt="imagen de mujer conduciendo">
            <h3>
                Contenido de Valor
            </h3>
            <p class="">
                Consejos, técnicas e informaciones importantes que te ayudan con  la seguridad
                vial: qué hacer para mantener las óptimas condiciones del vehículo, cómo
                manejarse en situaciones de accidentes, técnicas de parqueo, elementos necesarios
                para la preparación de un viaje y muchas cosas más que toda mujer debe saber al
                conducir.
            </p>
        </div>
    </div>
</div>
